<% include ../partials/full_header.ejs %>
<div class="container mb-5 mt-5">
    <div class="col-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Topic name</span>
            </div>
            <input type="text" class="form-control" id="topic-body" value="<%= topic.name %>" autocomplete="off">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Is topic custom</span>
            </div>
            <input type="checkbox" class="form-control" id="topic-custom-checkbox" value="<%= topic.custom %>" autocomplete="off">
        </div>
        <button type="button" class="btn btn-primary" onclick="sendData()">Save</button>
    </div>
</div>

<script>
    $(() => {
        $('#topic-custom-checkbox').prop('checked', <%= topic.custom  %>);
        $('#topic-custom-checkbox').click(() => {
            $('#topic-custom-checkbox').val($('#topic-custom-checkbox').is(':checked'));
        });

        sendData = () => {
            $.ajax({
                url: '/post/topic/update/<%= topic._id %>',
                method: 'POST',
                data: { name: $('#topic-body').val().trim(), isCustom: $('#topic-custom-checkbox').val() },
                complete: () => {
                    window.location.href = "http://localhost:3000/post/topic/all";
                }
            });
        }
    });
</script>
<% include ../partials/footer.ejs %>