<script>
(() => {
    addError = (text) => {
        $('#errors').append(`
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                ${text}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        `);
    };

    $('#post-form').submit(() => {
        let error = false;

        if ($(".alert").children().length)
            $(".alert").alert('close');

        if (!$('#post-title-main').val()) {
            error = true;
            $('#post-title-main-error').html('<%= __('post.title.error') %>');
        } else {
            $('#post-title-main-error').html('');
        }

        if (!$('#post-body-main').val()) {
            error = true;
            $('#post-body-main-error').html('<%= __('post.body.error') %>');
        } else {
            $('#post-body-main-error').html('');
        }

        if (!$('#country-select').val()) {
            error = true;
            $('#post-country-select-error').html('<%= __('post.country.select.error') %>');
        } else {
            $('#post-country-select-error').html('');
        }

        // if advanced editor then scroll to main card and open it
        if (error) {
            // determine if its advanced redactor
            let mainCard = $('#main-card');
            if (mainCard.length) {
                if($('.show').length) {
                    $('.show').removeClass('show');
                }

                mainCard.children('.collapse').first().addClass('show');

                $('html, body').animate({
                    scrollTop: 0
                }, 500);
            }
        }
        return !error;
    });
}).call(this);
</script>