<!-- footer and global scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- make menu button stick at the top -->
<script src="/js/headroom.min.js"></script>
<script>
    $(document).ready(() => {
        /* search */
        let searchInput = $('.header-search input');
        let searchButton = $('.header-search button');

        let performSearch = () => {
            window.location.href = '/search/' + searchInput.val();
            if (searchInput.val()) {
                console.log('searching for: ' + searchInput.val().trim());
            }
        };

        searchInput.on('keyup', (e) => {
            if (e.keyCode == 13) {
                performSearch();
            }
        });

        let showSearchInput = () => {
            searchInput
                .focus()
                .animate({
                    width: 200,
                }, 150, 'easeInSine');

            searchButton.off().click(() => {
                performSearch();
            });
        };

        let hideSearchInput = () => {
            searchInput.animate({
                width: 0,
            }, 100, 'easeOutSine');

            searchButton.off().click(() => {
                showSearchInput();
            });
        };

        searchInput.width(0);

        searchButton.click(() => {
            showSearchInput();
        });

        searchInput.focusout(() => {
            if (!searchInput.val()) {
                hideSearchInput();
            }
        });

        /* avatar */
        <% if (session && session.userId) { %>
            let userAvatar = $('#user-avatar-placeholder');
            let userAvatarPath = '<%= session.userAvatarPath %>';
            if (userAvatarPath) {
                userAvatar.css('background-image', `url(${userAvatarPath})`);
            } else {
                userAvatar.append('<i class="user-no-avatar-icon fas fa-user align-middle"></i>');
            }
        <% } %>
    });
</script>
</body>
</html>