</head>
<body>
	<div id="wrapper">
		<% include sidebar.ejs %>
		<div id="menu-toggle">
			<button class="hamburger hamburger--3dy" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
		</div>
		<div id="page-content-wrapper">