<script src="/js/bootstrap-typeahead.js"></script>
<script>

    let pictures = {
        'arg': 'argentina.jpg',
        'italy': 'italy.jpg',
        'spain': 'spain.jpg',
        'germ': 'germany.jpg'
    };

    let typeaheadSource = [
        { 'id': 'arg', 'name': 'Argentina' },
        { 'id': 'italy', 'name': 'Italy' },
        { 'id': 'spain', 'name': 'Spain' },
        { 'id': 'germ', 'name': 'Germany' }
    ];

    let selectCountryInput = $('#selectCountryInput');
    let backgroundWrapper = $('#background-wrapper');
    let executed = false;

    function changeBg(picName, finishCallback) {
        return backgroundWrapper.fadeTo('fast', 0, function() {
            backgroundWrapper.css('background', `url('/imgs/${picName}') no-repeat center center fixed`);
            backgroundWrapper.css('backgroundSize', 'cover');
        }).delay(100).fadeTo('fast', 1, finishCallback);
    }

    selectCountryInput.typeahead({
        source: typeaheadSource,
        items: 5,
        item: "<li><a href=\"#\"></a></li>",
        onSelect: function (item) {

        },
        onSelectionUpdate: function (item) {
            if (typeof backgroundWrapper !== typeof undefined && !executed && !backgroundWrapper.css('background').includes(pictures[item.value])) {
                executed = true;

                changeBg(pictures[item.value], function() {
                    executed = false;
                });
            }
        },
        onSelectionUpOrDown: function (item) {
            if (typeof backgroundWrapper !== typeof undefined) changeBg(pictures[item.value]);
        }
    });
</script>