<input id="body-input" type="hidden" name="body">
<trix-editor id="post-body-main" class="form-control post-body border-0" input="body-input" placeholder="* <%= __('post.body.placeholder') %>"></trix-editor>
<small id="post-body-main-error" class="form-text text-danger"></small>
<p><small class="text-muted"><%= __('post.body.editor.help') %></small></p>
