<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="/">
                {{ __ 'sidebar.brand' }}
            </a>
        </li>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="#">Posts</a>
        </li>
        <li>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <li>
            <div class="input-group">
                <a href="#">Logout</a>
                <a href="/user/profile">Profile</a>
            </div>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->