<% include ../partials/header_start.ejs %>
<link rel="stylesheet" href="/css/libs/chosen.min.css">
<link rel="stylesheet" href="/css/post/card.css">
<link rel="stylesheet" href="/css/post/country.css">
<% include ../partials/header_end.ejs %>
<div class="container page-content-container">
    <div class="row">
        <div class="col-6 mx-auto">
            <select style="font-size: 20px;" class="country-select mr-auto" data-placeholder="Выберите страну..." multiple onchange="searchPostsByCountry()"></select>
        </div>
        <div class="col-12 mt-3">
            <div class="cards d-flex justify-content-center"></div>
        </div>
    </div>
</div>
<template id="card-template">
    <div class="waypoint-card meta-card rounded">
        <div class="waypoint-card-header card-bg-hover d-flex flex-row">
            <div class="meta-card-header-titles mr-auto" title="Открыть эту заметку">
                <div class="waypoint-card-header-input meta-title"></div>
                <div class="waypoint-card-header-input meta-subtitle"></div>
            </div>
        </div>
        <hr class="card-divider">
        <div class="waypoint-card-body">
            <div class="form-control waypoint-card-body-editor meta-body"></div>
        </div>
        <hr class="card-divider">
        <div class="meta-card-footer d-flex flex-column">
            <div class="card-bg-hover d-flex flex-row align-items-center p-2">
                <span class="meta-likes" title="Количество людей, которым <b>понравилась</b> эта заметка">
                    <i class="far fa-heart faa-pulse-hover mr-1"></i>
                    <span class="meta-like-counter"></span>
                </span>
                <span class="meta-views mr-auto" title="Количество <b>уникальных</b> просмотров заметки">
                    <i class="fas fa-eye ml-2 mr-1"></i>
                    <span class="meta-views-counter"></span>
                </span>
                <div class="meta-card-footer-item d-flex flex-column">
                    <div class="d-flex flex-row align-items-center mb-1">
                        <div class="meta-date"></div>
                    </div>
                    <div class="meta-country mr-2">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<!-- chosen lib for better select controls -->
<script src="/js/libs/chosen.jquery.min.js"></script>
<!-- masonry lib for smart card layout -->
<script src="/js/libs/masonry.pkgd.min.js"></script>
<!-- moment js lib for dates manipulation -->
<script src="/js/libs/moment.min.js"></script>
<script src="/js/libs/moment.locale.ru.js"></script>
<!-- he lib for decoding html -->
<script src="/js/libs/he.js"></script>
<!-- jquery truncate lib for easy text crop -->
<script src="/js/libs/jquery.truncate.js"></script>
<script>
    let countriesData = {
        countries: [
            <% for(let i = 0; i < countries.length; i++) { %>
                <% let country = countries[i]; %>
                {
                    id: '<%= country._id %>',
                    name: '<%= country.name %>',
                },
            <% } %>
        ],
        country: '<%= country %>',
    };
</script>
<script src="/js/post/country.js"></script>
<% include ../partials/footer.ejs %>