/* map style */
#map
{
    position: absolute;
    top: 65px;
    right: 0;
    width: 60%;
    height: 90vh;
    margin-top: 10px;
    margin-bottom: 8px;
}

/* wayopoint card style */

.waypoint-cards {
    width: 38%;
    margin-top: 23px;
    margin-bottom: -15px;
    margin-right: 25px;
}

.waypoint-card
{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;

    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*.waypoint-card-chain {
	padding: 0;
	margin: 0;
	margin-left: 10px;
	width: 3px;
	height: 10px;
	background-color: black;
}*/

.waypoint-card-header
{
    margin: 0;
    padding: 15px;

    letter-spacing: -.015em;
    background-color: rgba(0,0,0,0.03);
}

.waypoint-card-header-input
{
    font-family: Roboto Slab;
    font-size: 1.1em;
    font-weight: 800;

    width: 100%;

    color: rgba(0,0,0,.84);
    border: none;
    background-color: transparent;
}

.waypoint-card-header-icon {
    font-size: 22px;
}

.show-on-map-button .fas {

}

.waypoint-card-header-input::placeholder
{
    color: rgba(0,0,0,.84);
}

.waypoint-card-header-input:focus::placeholder
{
    color: rgba(0,0,0,0);
}

.waypoint-card-header-input:focus,
.waypoint-card-body-editor:focus,
.waypoint-card-header button:focus
{
    color: rgba(0,0,0,.84);
    border-color: inherit;
    outline: none;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.waypoint-card-header button,
.waypoint-card-header button:focus
{
    font-weight: 900;

    transition: color .2s;

    color: rgba(0,0,0,.84);
    border: none;
    background-color: transparent;
}

.waypoint-card-header button:hover
{
    color: rgba(0,0,0,.54);
}

.waypoint-card-header button:active
{
    color: rgba(0,0,0,1);
}



.waypoint-card-body
{
    margin: 0;
    padding: 15px;

    color: rgba(0,0,0,.84);
}

.waypoint-card-body-editor
{
    height: auto;
    margin: 0;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 0;

    transition: height 2s;

    color: rgba(0,0,0,.84);
    border: none;
    background-color: transparent;
}

.medium-editor-placeholder
{
    margin-top: 3px;
    margin-bottom: 9px;
}

.medium-editor-placeholder:after
{
    font-weight: normal;
    font-style: normal;

    color: rgba(0,0,0,.84);
}


.waypoint-card-body-editor p
{
    margin-top: 6px;
    margin-bottom: 6px;

    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: Roboto;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.58;
    letter-spacing: -.025em;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    word-break: break-word;
    word-wrap: break-word;

    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.waypoint-card-body-editor-help
{
    color: rgba(0,0,0,.3);
}


.medium-editor-toolbar
{
    transition: all .25s ease;
}
