/* map style */
#map
{
    position: absolute;
    top: 65px;
    right: 0;
    height: 90vh;
    margin-top: 41px;
    margin-bottom: -1.95%;
}

/* wayopoint card style */

#cards {
    margin-top: 41px;
    margin-bottom: -15px;
}

.post-remove-button {
    color: black;
    transition: color .1s;
}

#post-remove-button:hover {
    color: red;
}