.index-container {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    background-image: url('/imgs/index-header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.index-container p {
    width: 100%;
    font-family: 'MontExtraLight', 'Roboto Slab';
    color: white;
    padding: 25px;
    font-size: 16pt;
    background-color: rgba(0,0,0,.3);
}

.index-container p img {
    max-width: 438px;
    max-height: 80px;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

.index-container p a {
    color: white;
}
