nav.navbar {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

img {
    width: 100%;
    height: 100%;
}

.attachment__caption {
    text-align: center;
}

.noty_body {
	font-family: PT Sans, sans;
	font-size: 11pt;
}