html, body {
    font-family: 'PT Sans', sans-serif;
}

.navbar-brand, .nav-item {
    font-family: 'Lobster', cursive;
    font-size: 25pt;
}

.nav-item, .navbar-nav, .nav-link {
    padding: 0;
    margin: 0;
}

.navbar-nav {

}

.no-border {
    border: 0;
}

.bg-transparent, .bg-transparent:-webkit-autofill {
    border: 0;
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

.navbar-font-size {
    font-family: 'Lobster', cursive;
    font-size: 16pt;
}

#background-wrapper {
    background: url('https://www.votpusk.ru/country/ctimages/new/es02.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);

    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    background-color: #0D47A1;
}

#select-country-form {
     position: absolute;
     top: 50%;
     left: 25%;
     margin: 0px;
     padding: 0px;
     width: 50%;
 }

#select-country-form input {
    margin: 0px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 26pt;

    border: 0;

    color: white;
    background-color: rgba(1,1,1,0.5);
}

#select-country-form input::placeholder {
    color: rgba(255,255,255,0.65);
}

#select-country-form ul {
    margin: 0;
    padding: 0;
    background: transparent;
}

#select-country-form ul li {
    padding: 10px;
    background-color: rgba(1,1,1,0.5);
}

#select-country-form ul li.active {
    background-color: rgba(1,1,1,0.75);
}

#select-country-form ul li a {
    color: white;
    padding-left: 7px;
    font-size: 20pt;
}

.post-title {
    color: black;
    font-family: 'PT Serif', Georgia, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
    font-size: 18pt;
}

.topic-title {
    color: slategrey;
    font-family: 'PT Serif', Georgia, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
    font-size:  18pt;
    margin-bottom: 24px;
}

.post-body {
    color: #333;
    font-family: 'PT Serif', Georgia, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16pt;
}

#new-post-title-input {
    border: 0;
}

#new-post-body-input {
    border: 0;
}

#new-post-title-input::placeholder, #new-post-body-input::placeholder {
    color: #868e96;
}

#new-post-footer {
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    font-family: 'PT Serif', Georgia, serif;
}

.profile {
    font-family: 'PT Serif', Georgia, serif;
    font-size: 16pt;
}

.text-super-muted {
    color: slategrey;
}

.CodeMirror {
    border: 0;
}

.CodeMirror .CodeMirror-lines .CodeMirror-placeholder {
    opacity: 1;
    color: slategrey;
    font-family: 'PT Serif', Georgia, serif;
    font-size: 16pt;
}


.CodeMirror-code {
    border: 0;
    color: #333;
    font-family: 'PT Serif', Georgia, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16pt;
}