/* brand font */
@font-face {
    font-family: MontExtraLight;
    src: url('/fonts/MontExtraLight.ttf') format('truetype');
}

/* brand font */
@font-face {
    font-family: Cambria;
    src: url('/fonts/Cambria.ttf') format('truetype');
}


/* styles */
html, body {
    font-family: 'PT Sans', sans-serif;

}

.brand-color {
    color: rgb(219,189,29);
}

.brand-font {
    font-family: 'MontExtraLight', serif;
    font-size: 16pt;
}

#background-wrapper {
    background: url('/imgs/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    transform: scale(1.1);

    background-color: #0D47A1;
}

#select-country-form {
     position: absolute;
     top: 50%;
     left: 25%;
     margin: 0px;
     padding: 0px;
     width: 50%;
 }

#select-country-form input {
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    font-size: 26pt;

    border: 0;

    color: white;
    background-color: rgba(1,1,1,0.5);

    font-family: MontExtraLight;
    font-size: 2em;
}

#select-country-form input::placeholder {
    color: rgba(255,255,255,0.65);
}

#select-country-form ul {
    margin: 0;
    padding: 0;
    background: transparent;
}

#select-country-form ul li {
    padding: 10px;
    background-color: rgba(1,1,1,0.5);
}

#select-country-form ul li.active {
    background-color: rgba(1,1,1,0.75);
}

#select-country-form ul li a {
    color: white;
    padding-left: 7px;
    font-size: 20pt;
}

.profile {
    font-family: 'PT Serif', Georgia, serif;
    font-size: 16pt;
}

.post-preview .post-title {
    font-family: 'Merriweather', serif;
}

.post-preview .post-subtitle {
    font-family: 'PT Sans', sans-serif;
    font-size: 15pt;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0px;
    background-color: rgba(255,255,255,0.9);
}

#hamburger-box, #hamburger-inner {
    color: white;
    background-color: white;
}

#menu-toggle button:focus {
    outline: none;
}

