<ul>
    {{#each countries}}
        <li class="border mb-3">
            <h2>{{this.name}}</h2>
            <img src="{{this.img}}" alt="{{this.name}}">
        </li>
    {{else}}
        No content
    {{/each}}
</ul>
