<% include ../partials/header_start.ejs %>
<link rel="stylesheet" href="/css/user/login.css">
<% include ../partials/header_end.ejs %>
<div class="container page-content-container d-flex justify-content-center">
    <div class="row mt-5">
        <div class="col-12">
            <div class="card card-shadow">
                <h3 class="mb-4 text-center">Вход</h3>
                <input id="username" class="card-bg-hover" type="text" placeholder="Имя пользователя...">
                <input id="password" class="card-bg-hover" type="password" placeholder="Пароль..." autocomplete="off">
                <button id="login" class="default-button card-bg-hover">Войти</button>
                <button id="register" class="default-button secondary-button card-bg-hover">Регистрация</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/user/login.js"></script>
<% include ../partials/footer.ejs %>
