<div class="col-12 mt-4">
    <h1>{{ __ 'user.profile.header' }}</h1>
    <p>{{ __ 'user.profile.username' }}</p>
    <p>{{ __ 'user.profile.email' }}</p>
    <p>User id: {{ session.userId }}</p>
</div>