<% include ../partials/header_start.ejs %>
<link rel="stylesheet" href="/css/user/register.css">
<% include ../partials/header_end.ejs %>
<div class="card info-card card-shadow">
    Some info body
</div>
<div class="container page-content-container d-flex justify-content-center">
    <div class="row mt-5">
        <div class="col-12">
            <div class="card register-card card-shadow">
                <h3 class="text-center mb-4">Регистрация</h3>
                Имя пользователя
                <input id="username" class="card-bg-hover" type="text" placeholder="..." autocomplete="off">
                Email
                <input id="email" class="card-bg-hover" type="text" placeholder="..." autocomplete="off">
                <hr>
                Пароль
                <input id="password1" class="card-bg-hover" type="password" placeholder="..." autocomplete="off">
                Повторите пароль
                <input id="password2" class="card-bg-hover" type="password" placeholder="..." autocomplete="off">
                <hr>
                Загрузите аватар(не обязательно)<input id="avatar" class="card-bg-hover" type="file" accept=".jpg, .jpeg, .png" placeholder="Загрузите аватар" autocomplete="off">
                <hr>
                <button id="register" class="default-button card-bg-hover">Зарегестрироваться</button>
                <span class="text-center">или</span>
                <a id="login" href="/user/login" role="button" class="default-button card-bg-hover">Войти</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/user/register.js"></script>
<% include ../partials/footer.ejs %>