<% include ../partials/header_start.ejs %>
<link rel="stylesheet" href="/css/user/register.css">
<% include ../partials/header_end.ejs %>
<div class="card info-card card-shadow">
    Some info body
</div>
<div class="container page-content-container d-flex justify-content-center">
    <div class="row mt-5">
        <div class="col-12">
            <div class="card register-card card-shadow">
                <!-- fake fileds for chorme autofill -->
                <input id="username" type="text" style="display:none" name="fakeusernameremembered">
                <input id="password1" type="password" style="display:none" name="fakepassword1remembered">
                <input id="email" type="text" style="display:none" name="fakeemailremembered">
                <input id="password2" type="password" style="display:none" name="fakepassword2remembered">
                <h3 class="text-center mb-4">Регистрация</h3>
                Имя пользователя
                <input id="real-username" class="card-bg-hover" type="text" placeholder="..." autocomplete="nope">
                <span id="username-status"></span>
                Email
                <input id="real-email" class="card-bg-hover" type="text" placeholder="..." autocomplete="nope">
                <span id="email-status"></span>
                <hr>
                Пароль
                <input id="real-password1" class="card-bg-hover" type="password" placeholder="..." autocomplete="new-password">
                Повторите пароль
                <input id="real-password2" class="card-bg-hover" type="password" placeholder="..." autocomplete="new-password">
                <hr>
                Загрузите аватар(не обязательно)<input id="avatar" class="card-bg-hover" type="file" accept=".jpg, .jpeg, .png" placeholder="Загрузите аватар" autocomplete="off">
                <hr>
                <button id="register" class="default-button card-bg-hover">Зарегистрироваться</button>
                <span class="text-center">или</span>
                <a id="login" href="/user/login" role="button" class="default-button card-bg-hover">Войти</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/user/register.js"></script>
<% include ../partials/footer.ejs %>