<% include ../partials/header_start.ejs %>
<link rel="stylesheet" href="/css/post/index.css">
<% include ../partials/header_end.ejs %>
<div class="page-content-container container">
    <div class="row">
        <div class="col-4">
            <div class="waypoint-card meta-card rounded w-100">
                <div class="waypoint-card-header card-bg-hover d-flex flex-column">
                    <div class="waypoint-card-header-input meta-title">Meta title</div>
                </div>
                <hr class="card-divider">
                <div class="waypoint-card-body">
                    <div class="form-control waypoint-card-body-editor meta-body">
                        Таким образом начало повседневной работы по формированию позиции требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке форм развития. С другой стороны укрепление и развитие структуры влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
                    </div>
                </div>
                <hr class="card-divider">
                <div class="meta-card-footer d-flex flex-column">
                    <div class="card-bg-hover d-flex flex-row align-items-center p-2">
                        <button class="default-button meta-card-footer-like-button mr-1"><i class="far fa-heart"></i></button><span id="like-counter">21</span>
                        <i class="fas fa-eye ml-2 mr-1"></i><span id="views-counter">641</span>
                    </div>
                    <hr class="card-divider">
                    <div class="d-flex flex-row align-items-center align-items-stretch">
                        <div class="meta-card-footer-item card-bg-hover meta-user mr-auto d-flex flex-row align-items-center">
                            <div id="user-avatar" class="rounded-circle mr-2">
                                <!-- <i id="user-icon" class="fas fa-user align-middle"></i> -->
                            </div>
                            <a href="#">
                                gotoss08
                            </a>
                        </div>
                        <div class="meta-card-footer-item card-bg-hover d-flex flex-column">
                            <div class="d-flex flex-row align-items-center mb-3">
                                <div class="meta-date mr-2">15.03.2018</div>
                                <div class="meta-time">18:32</div>
                            </div>
                            <div class="meta-country mr-2">
                                <a href="#">Russia</a>,
                                <a href="#">Kazakhstan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="waypoint-card meta-card rounded w-100">
                <div class="waypoint-card-header d-flex flex-column">
                    <div class="waypoint-card-header-input meta-title">Meta title</div>
                </div>
                <div class="waypoint-card-body">
                    <div class="form-control waypoint-card-body-editor meta-body">Meta body</div>
                </div>
            </div>
        </div>
    </div>

</div>
<% include ../partials/footer.ejs %>
