<% include ../partials/header_start.ejs %>
<!-- medium editor css -->
<link rel="stylesheet" href="/css/medium-editor.min.css">
<link rel="stylesheet" href="/css/medium-editor.theme.default.min.css">
<!-- page styles -->
<link rel="stylesheet" href="/css/proto.css">
<% include ../partials/header_end.ejs %>
<div class="fluid-container">
	<div id="map"></div>
</div>
<div class="container mt-3 mt-md-4">
    <div class="waypoint-card twinPeaks rounded">
        <h3 class="waypoint-card-header d-flex align-items-center">
            <input class="waypoint-card-header-input" type="text" placeholder="Название вашей заметки...">
        </h3>
        <div class="waypoint-card-body">
            <textarea class="form-control waypoint-card-body-editor" name="body"></textarea>
            <div class="d-flex align-items-center justify-content-end">
                <span class="waypoint-card-body-editor-help" title="<ul style='text-align: left; padding: 0; margin: 0; margin-left: 16px;'><li>При выделении текста, появляется меню редактора, в котором можно применить разные стили к выделенному фрагменту текста.</li><li>После публикации, заголовки так же будут обработаны и добавлены в виде тэгов.</li><li>Чтобы загрузить фотографию, просто перетащите её на текст в том месте, где вы хотите что бы она оказалась.</li></ul>">Помощь по редактированию <i class="fas fa-question-circle"></i></span>
            </div>
            <small id="post-body-main-error" class="form-text text-danger"></small>
        </div>
    </div>
    <div class="waypoint-cards mt-2 mb-3"></div>
</div>
<!-- medium editor js -->
<script src="/js/medium-editor.min.js"></script>
<script>
    let editor = new MediumEditor('.waypoint-card-body-editor', {
        autoLink: true,
        buttonLabels: 'fontawesome',
        placeholder: {
            text: 'Начните печатать...',
        },
        toolbar: {
            buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3'],
        },
    });

    tippy('[title]');
</script>
<!-- create additional buttons in header -->
<script src="/js/proto-header.js"></script>
<!-- init maps and other new post page controls -->
<script src="/js/proto.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjb3frwKoNDFK5GTYJgQw3QPCSlpEjoM8&language=ru&region=RU&libraries=places&callback=initMap" async defer></script>
<% include ../partials/footer.ejs %>